################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeeMachineTest/bin/Debug/net8.0
/CoffeeMachineTest/obj
/CoffeeMachine/.vs/ProjectEvaluation/coffeemachine.metadata.v7.bin
/CoffeeMachine/.vs/ProjectEvaluation/coffeemachine.projects.v7.bin
