################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/VSWorkspaceState.json
/.vs/CoffeeMachine/v17
/.vs/CoffeeMachine/DesignTimeBuild
/.vs/CoffeeMachine/FileContentIndex
/bin/Debug/net8.0
/.vs/CoffeeMachine/config
